---
import Layout from '../layouts/Layout.astro';
---

<Layout title="活動について - 広島Unity勉強会">
	<h2>広島Unity勉強会について</h2>
	<p>広島Unity勉強会は、広島近辺のUnityユーザーのコミュニティです。</p>

	<h3>目的</h3>
	<ul>
		<li>Unityを通じた技術者・学生の交流</li>
		<li>広島でのUnityユーザーの拡大</li>
		<li>技術力の向上と情報の共有</li>
	</ul>

	<h3>対象者</h3>
	<p>Unityに興味がある方ならどなたでも参加いただけます。プロのエンジニアから、趣味でゲームを作りたい方、VR/ARに興味がある学生さんまで、幅広い層が参加しています。</p>

	<h3>注意事項</h3>
	<p>本コミュニティはボランティアによって運営されています。Unity Technologies社およびその関連団体とは関係ありません。</p>
</Layout>
