---
import Layout from '../layouts/Layout.astro';
---

<Layout title="お問い合わせ - 広島Unity勉強会">
	<h2>お問い合わせ</h2>
	<p>広島Unity勉強会への参加希望や、お問い合わせは以下の各チャネルをご利用ください。</p>

	<h3>イベント参加申し込み</h3>
	<p>イベントの告知と参加申し込みは主にconnpassで行っています。</p>
	<p><a href="https://hiroshima-unity.connpass.com/" target="_blank" rel="noopener noreferrer">connpass (広島Unity勉強会)</a></p>

	<h3>SNS・コミュニティ</h3>
	<ul>
		<li><a href="https://twitter.com/search?q=%23hiroshima_unity" target="_blank" rel="noopener noreferrer">Twitter (X) ハッシュタグ #hiroshima_unity</a></li>
	</ul>

	<p>※直接のメッセージや詳細な質問は、イベント会場や上記SNSでお気軽にお声がけください。</p>
</Layout>
