---
import Layout from '../layouts/Layout.astro';
---

<Layout title="お問い合わせ - 広島Unity勉強会">
	<h2>お問い合わせ</h2>
	<p>広島Unity勉強会への参加希望や、お問い合わせは以下の各チャネルをご利用ください。</p>

	<h3>イベント参加申し込み</h3>
	<p>イベントの告知と参加申し込みは主にconnpassで行っています。</p>
	<ul>
		<li><a href="https://hirouni.connpass.com/" target="_blank" rel="noopener noreferrer">connpass (広島Unity勉強会)</a></li>
	</ul>

	<h3>アナウンス・SNS</h3>
	<ul>
		<li><a href="https://www.facebook.com/hiroshimaunity" target="_blank" rel="noopener noreferrer">Facebookページ</a></li>
		<li><a href="https://x.com/HiroshimaUnity/" target="_blank" rel="noopener noreferrer">X</a></li>
	</ul>

	<h3>ユーザコミュニティ</h3>
	<ul>
		<li><a href="https://discord.gg/RkfvMRq" target="_blank" rel="noopener noreferrer">ヒロユニ Discordサーバ</a></li>
	</ul>

	<p>※直接のメッセージや詳細な質問は、イベント会場や上記SNSでお気軽にお声がけください。</p>
</Layout>
