---
import Layout from '../layouts/Layout.astro';
---

<Layout title="もくもく会 - 広島Unity勉強会">
	<h2>もくもく会とは</h2>
	<p>「もくもく会」は、参加者が集まってそれぞれ「もくもく（黙々）」と自分の作業や勉強をする会です。</p>

	<h3>活動内容</h3>
	<ul>
		<li>各自のプロジェクト進行</li>
		<li>Unityの学習</li>
		<li>アセット制作（メタセコイア, Blender, Inkscape等）</li>
		<li>参加者同士のゆるい技術交流・相談</li>
	</ul>

	<h3>開催場所</h3>
	<p>広島市内の公共施設（大学施設など）や、オンラインで開催しています。詳細は各イベントの募集要項をご確認ください。</p>
</Layout>
