---
import Layout from '../layouts/Layout.astro';
---

<Layout title="最新ニュース - 広島Unity勉強会">
	<h2>最新ニュース</h2>
	<p>コミュニティの動向や過去のイベント記録などをお知らせします。</p>

	<h3>過去のイベント例</h3>
	<ul>
		<li>Unityを用いたARコンテンツ作成勉強会</li>
		<li>オープンソースカンファレンス広島への出展</li>
		<li>福島ゲームジャム in 広島への参加</li>
		<li>定期もくもく会の開催</li>
	</ul>

	<p>※詳細なイベント履歴はconnpassをご確認ください。</p>
</Layout>
